        <%= link_to "Chatroom", root_path, class: "item" %>
        <a class="item">
          Messages
        </a>
        <div class="right menu">
          <% if logged_in? %>
            <%= link_to "Logout", logout_path, method: :delete, class: "item" %>
          <% else %>
            <%= link_to "Log in", login_path, class: "item" %>
            <%= link_to "Sign up", signup_path, class: "item" %>    
          <% end %>
        </div>